<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de inventario ULEAM</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>

<body>
    <!--menu-->
    <div class="menu">
        <div class="header">
            <h1>Gestión de inventario de equipos informáticos</h1>
            <div class="navegador">
                <ul>
                    <li><a href="../login/">Login</a></li>
                    <li><a href="../registro/">Registro</a></li>
                    <li><a href="../contacto/">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sección de Inventario Informático -->
    <div class="inventario">
        <h2>Universidad Laica Eloy Alfaro de Manabí (Uleam)</h2>
        <br>
        <div class="menu-inventario">
        </div>
    </div>
    <br><br><br><br><br><br>

    <!--Pie de pagina-->
    <div class="footer">
        <div class="break">
            <div class="direccion">
                <h4>Dirección:</h4>
                <p>Av. Circunvalacion, Manta</p>
            </div>
            <div class="contacto">
                <h4>Contactos:</h4>
                <p>Tel: +593 123456789</p>
                <p>Email: info&#64;uleam.live.edu.ec</p>
            </div>
            <div class="sobre">
                <h4>Sobre nosotros:</h4>
                <p>Somos la Universidad Laica Eloy Alfaro de Manabí, contamos con servico para la gestion de inventario
                    informatico</p>
            </div>
        </div>
        <div class="derechos">
            <h4>Universidad Laica Eloy Alfaro de Manabí| Todos los derechos reservados ©</h4>
        </div>
    </div>
</body>
</html>