<!DOCTYPE html>
<html>

<head>
    <title>Contact us</title>
    <link rel="stylesheet" type="text/css" href="contacto.component.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
    <div class="menu">
        <div class="header">
            <h1>Gestión de inventario de equipos informáticos</h1>
            <br>
            <div class="navegador">
                <ul>
                    <li><a href="../logueado/">Inicio</a></li>
                    <li><a href="../lista-de-equipos/">Listado de Equipos</a></li>
                    <li><a href="../agregar-equipos/">Agregar Equipos</a></li>
                    <li><a href="../generar-reporte/">Reportes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="sol">
        <form class="row " [formGroup]="myform" (ngSubmit)="onSubmit()">
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Contact Us</h2>
                    <input type="text" class="field" formControlName="username" placeholder="Jhon Doe" required>
                    <input type="email" class="field" formControlName="email" placeholder="jhon@gmail.com" required>
                    <button type="submit" class="btn" [disabled]="myform.invalid">Guardar</button>
                    <br><br>
                    <button class="btn" type="submit"><a href="javascript: history.go(-1)">Volver</a></button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>