<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Equipo</title>
    <link rel="stylesheet" href="detalles-de-equipos.component.css">
    <!-- Agregar meta etiquetas relevantes -->
    <meta name="description" content="Detalles del Equipo - Universidad Laica Eloy Alfaro de Manabí">
    <meta name="keywords" content="detalles, equipo, universidad, ULEAM, inventario, informático">
</head>
<body>
    <!-- Encabezado -->
    <h1>Detalles del Equipo</h1>

    <!-- Detalles del equipo -->
    <div id="equipmentDetails">
        <h2>Nombre del Equipo</h2>
        <p>Fecha de Adquisición: <span id="acquisitionDate"></span></p>
        <p>Especificaciones Técnicas: <span id="specs"></span></p>
        <p>Historial de Mantenimiento: <span id="maintenanceHistory"></span></p>
        <p>Ubicación Actual: <span id="location"></span></p>
    </div>

    <!-- Enlace para volver a la lista de equipos -->
    <div class="button-container">
        <button class="boton-listado"><a href="../lista-de-equipos/">Lista de Equipos</a></button>
    </div>
    <br>
    <!-- Script -->
    <script src="detalle.js"></script>

    <!-- Pie de página -->
    <footer class="footer">
        <div class="footer-content">
            <div class="direccion">
                <h4>Dirección:</h4>
                <p>Av. Circunvalacion, Manta</p>
            </div>
            <div class="contacto">
                <h4>Contactos:</h4>
                <p>Tel: +593 123456789</p>
                <p>Email: info@uleam.live.edu.ec</p>
            </div>
            <div class="sobre">
                <h4>Sobre nosotros:</h4>
                <p>Somos la Universidad Laica Eloy Alfaro de Manabí, ofrecemos servicios para la gestión de inventario informático.</p>
            </div>
        </div>
        <div class="derechos">
            <h4>Universidad Laica Eloy Alfaro de Manabí | Todos los derechos reservados ©</h4>
        </div>
    </footer>
</body>
</html>
